<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Update Employee</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
  <h1>Edit Employee</h1>
  <form th:action="@{/employees/update/{id}(id=${employee.id})}"
        th:object="${employee}" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" th:field="*{name}" class="form-control" id="name"
             required>
      <div class="text-danger" th:if="${#fields.hasErrors('name')}"
           th:errors="*{name}"></div>
    </div>
    <div class="mb-3">
      <label for="gt" class="form-label">GT:</label>
      <input type="text" th:field="*{gt}" class="form-control" id="gt"
             required>
    </div>
    <div class="mb-3">
      <label for="noisinh" class="form-label">Noisinh:</label>
      <input type="text" th:field="*{noisinh}" class="form-control" id="noisinh"
             required>
    </div>
    <div class="mb-3">
      <label for="maphong" class="form-label">Maphong:</label>
      <input type="text" th:field="*{maphong}" class="form-control" id="maphong"
             required>
    </div>
    <div class="mb-3">
      <label for="luong" class="form-label">Luong:</label>
      <input type="number" th:field="*{luong}" class="form-control" id="luong"
             required>
    </div>
    <div class="mb-3">
      <label for="phongban" class="form-label">Phong ban:</label>
      <select th:field="*{phongban.id}" class="form-control" id="phongban">
        <option th:each="phongban : ${phongbans}"
                th:value="${phongban.id}" th:text="${phongban.name}" th:selected="${phongban.id == employee.phongban.id}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a th:href="@{/employees}" class="btn btn-link">Cancel</a>
  </form>
</section>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>
